<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
    <style>
        #error_message {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Logga in</h1>

    <p>
        <div id="error_message">{{ error_message }}</div>
        <form method="POST" action="/">
            <input type="text" name="username" id="username">
            <input type="password" name="pass" id="pass">
            <button type="submit">Log in!</button>
        </form>
    </p>
</body>
</html>